version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - MODEL_PATH=${MODEL_PATH}
      - ENVIRONMENT=production
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app_network
    volumes:
      - backend_uploads:/app/backend/uploads

  frontend:
    build: ./frontend
    container_name: frontend_ui
    ports:
      - "80:80"
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  backend_uploads:
