
services:

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: tumor_user
      POSTGRES_PASSWORD: tumor_pass_secure_123
      POSTGRES_DB: tumor_classifer_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      -app_network
    healthcheck: 
      #docker repeatedly checks if the service is ready and working 
      test: ["CMD-SHELL","pg_isready -U tumor_user"]
      # test how to run(shell) and command to run and returns exit code 1-fail and 0 works
      # pg_isready checks if postgres user is accepting the connections
      interval: 10s
      #how often to do the healthcheck 10 seconds and continues forever every 10 seconds
      timeout: 5s
      #waits max 5 secs for healthcheck cmd to complete and if it takes it long mark it as failed
      retries: 5
      # for any state to be marked as unhealthy it need to fail 5 times where as for healthy it need to pass 1 time only




  backend:
    build: ./backend
    container_name: backend
    depends_on:
      db:
        condition: service_healthy
        #depends on the healthcheck
        #only effect start up order it does'nt restarts if dependency becomes unhealthy later on but we need to backend error handling to manage it.
    environment:
      - DATABASE_URL=postgresql://tumor_user:tumor_pass_secure_123@db:5432/tumor_classifier_db
      - MODEL_PATH=model/tumor_model.keras
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: frontend_ui
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app_network


#DEFINITION OF NETWORKS AND VOLUMES and Secrets[needed when deploying to production and not needed for development]


networks:
  app_network:


volumes:
  postgres_data: